.vermelho {
    color: red;
}

.laranja {
    color: orange;
}

.amarelo {
    color: yellow;
}

.verde {
    color: green;
}

.azul {
    color: blue;
}

.anil {
    color: indigo;
}

.violeta {
    color: violet;
}
